<div class="h2">
  <h2 mat-dialog-title>Orderbook</h2>
</div>

<mat-dialog-content class="mat-typography">
  <div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #heroForm="">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="OrderId">Order Number </label>
            <input type="text"  [(ngModel)]="OrderId" class="form-control" id="OrderId" 
                   required
                   [(ngModel)]="data.OrderId" name="OrderId"
                    name="OrderId">

          </div>
  
        </div>
        <div class="form-row">
        <div class="form-group col-md-7">
          <label for="PCD">Required PCD (Planning) </label>
          <input type="date"  class="form-control" id="PCD" 
                 required
                 [(ngModel)]="data.PCD" name="PCD"
                 #PCD="ngModel">
          <div [hidden]="PCD.valid || PCD.pristine"
               class="alert alert-danger">
            PCD is required
          </div>
        </div>
        <div class="form-group col-md-5">
          <div class="form-group">
            <label for="Impact">Impact Type</label>
                   <select class="form-control"  id="Impact"
                   required
                   [(ngModel)]="data.Impact" name="Impact"
                   #Impact="ngModel">
                   <option value="Include">Include</option>
                   <option value="Exclude">Exclude</option>
           </select>
          </div>
        </div>

      </div>
  
       

        <div class="form-group">
          <label for="comments">comments</label>
          <input type="text" class="form-control"  id="comments"
                 [(ngModel)]="data.comments" name="comments" #comments="ngModel">
        </div>
  
        <div class="form-group">
          <label for="Include">Include/Exclude</label>
          <select class="form-control"  id="Include"
                  required
                  [(ngModel)]="data.Include" name="Include"
                  #Include="ngModel">
                  <option value="Include">Include</option>
                  <option value="Exclude">Exclude</option>
          </select>
          <div [hidden]="Include.valid || Include.pristine" class="alert alert-danger">
            Include/Exclude
          </div>
        </div>

        <div class="form-group">
          <label for="SMV">Planning -SMV</label>
          <input type="text" class="form-control"  id="SMV"
                 [(ngModel)]="data.SMV" name="SMV" #SMV="ngModel">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" >Submit for Approval</button>
          <mat-dialog-actions >
            <button mat-button (click)="onNoClick()">Cancel</button>
          </mat-dialog-actions>
          
        </div>
      
      </form>
    </div>
  </div>
  

</mat-dialog-content>

